KERNEL=="sd?1", SUBSYSTEM=="block", PROGRAM=="/usr/lib/udev/scsi_id -g -u -d /dev/$parent", RESULT=="0QEMU_QEMU_HARDDISK_061abe1be89145fabd72f7b702df6392", SYMLINK+="oracleasm-ocr/db145-data-01", OWNER="grid", GROUP="asmadmin", MODE="0660"
KERNEL=="sd?1", SUBSYSTEM=="block", PROGRAM=="/usr/lib/udev/scsi_id -g -u -d /dev/$parent", RESULT=="0QEMU_QEMU_HARDDISK_8c7bcb226acd1a8eb5899e6f68e86e53", SYMLINK+="oracleasm-ocr/db145-data-02", OWNER="grid", GROUP="asmadmin", MODE="0660"